* {
    font-family: productsans;
    margin: 0;
    color: #3498DB;
}

@font-face {
    font-family: productsans;
    src: url(vendors/Product\ Sans\ Regular.ttf);
}

body{
    background: black;
}
#format{
    font-size: 4vh;
    display: inline;
    position: absolute;
    top: 81%;
    left: 50%;
    transform: translate(-50%,-50%);
}
h1{
    text-align: center;
    margin-top: 20px;
    font-size: 10vh;
}

.help p{
    font-size: 4vh;
    position: absolute;
    top:100%;
    left: 50%;
    transform: translate(-50%,-80px);
}
.help{
    text-align: center;
}

#time {
    font-size: 70px;
    display: inline;
    position: absolute;
    left:50%;
    top:50%;
    transform: translate(-50%,-50%);

}
.container{
    position: absolute;
    border: 5px solid #3498DB;
    display: inline-block;
    width: 50vh;
    left:50%;
    top:50%;
    transform: translate(-50%,-50%);

    height: 50vh;
    border-radius: 50%;
}
  
  